{#
/**
 * @file consultancy_unavailable.html.twig
 * Default theme implementation to present Consultancy unavailable data.
 *
 * This template is used when viewing Consultancy unavailable pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_consultancy_unavailable()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('consultancy_unavailable') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
