{#
/**
 * @file consultancy_availability.html.twig
 * Default theme implementation to present Consultancy availability data.
 *
 * This template is used when viewing Consultancy availability pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_consultancy_availability()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('consultancy_availability') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
