{#
/**
 * @file consultancy_type.html.twig
 * Default theme implementation to present Consultancy type data.
 *
 * This template is used when viewing Consultancy type pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_consultancy_type()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('consultancy_type') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
