{#
/**
 * Default theme implementation for Views to output a Fullcalendar View.
 *
 * Available variables:
 * - options: View plugin style options:
 *   - classes: CSS classes.
 *   - defaultDate: Default date of the calendar
 *   - start: Field name of start date
 *   - end: Field name of end date
 *
 * @see template_preprocess_views_view_fullcalendar()
 *
 * @ingroup themeable
 */
#}
 {#dump(rows) #}
<div id="scheduler_here" class="dhx_cal_container format-schedule" >
  <div class="dhx_cal_navline">
    <div class="dhx_cal_prev_button">&nbsp;</div>
    <div class="dhx_cal_next_button">&nbsp;</div>
    <div class="dhx_cal_today_button"></div>
    <div class="dhx_cal_date"></div>
    <div class="dhx_cal_tab" name="day_tab"></div>
    <div class="dhx_cal_tab" name="week_tab"></div>
    <div class="dhx_cal_tab" name="month_tab"></div>
  </div>
  <div class="dhx_cal_header"></div>
  <div class="dhx_cal_data"></div>
</div>
{% for row in rows %}

  <div>
    <br/><br/>
    <span>rows item</span><br/>
    {{ row.name.0.value }}<br/>
    {{ row.date.0.value }}<br/>
    {{ row.date.0.end_value }}<br/>
  </div>
{% endfor %}
